<!doctype html>
<html>
    <head>
        <style>
            body { background: #ddd; margin: 0; padding: 0; }
	    header {
	      background-image: url(https://teamwiki.de/static/img/image027.jpg); background-size: cover;
	      background-position: center;
	      height: 200px; color: white; overflow: hidden;
	    }
	    header h1 { font-size: 250%; font-family: cursive; text-shadow: 2px 2px 5px #000; }
	    section { max-width: 800px; margin: 20px auto; }
            #content {  }
        </style>
    </head>
    <body>
      <header>
	<section>
	<h1>dem Max sein Django-Test</h1>
	</section>
      </header>
      <div id="content">
	<section>
        <p>Default Page</p>
	<p><a href="https://dropme.test2.max-weller.de">Dropme</a></p>
	</section>
      </div>
    </body>
</html>
