{% extends "dropmefiles/base.html" %}

{% block content %}
<img src="https://teamwiki.de/profile/{{ user.username}}/image">
<h1>{{ user.fullname }}</h1>


<ul class="events">
{% for cb in clipboards %}
<li>
<a href="{% url 'show_clipboard' cb.owner_id cb.name %}" class="imgbox">
<div class="image" style="background-size:auto;background-image:url(http://home.max-weller.de/docs/img/win-icons/imageres_158-48.png);"></div>
</a>
<span>{{ cb.name }}</span>
</li>    
{% endfor %}
</ul>

{% endblock %}

