{% extends "base.html" %}
{% block content %}

    <div class="ui grid">
    <div class="ten wide column">
        {%  include "dropme/event_feed.html" %}
    </div>
    <div class="six wide column">
        <div class="ui vertical fluid menu">
            {% for cb in followed_clipboards %}
            <a href="" class="item">{{ cb.name }}</a>
            {% endfor %}

        </div>

    <p><a href="{% url 'create_clipboard' %}" class="ui green button"><i class="plus icon"></i> Create clipboard</a>
    <a href="{% url 'my_profile' %}" class="ui button">Show all my clipboards</a></p>
    </div>
    </div>


{% endblock %}
