{% extends "base.html" %}
{% block content %}
<h2 class="ui header">
  <i class="user icon"></i>
  <div class="content">
    {{ user.username }}
    <div class="sub header">{{ user.id }}</div>
  </div>
</h2>


    <div class="ui grid">
    <div class="ten wide column">
        {%  include "dropme/event_feed.html" %}
    </div>
    <div class="six wide column">
        <div class="ui vertical fluid menu">
            {% for cb in clipboards %}
            <a href="{{ cb.get_show_clipboard_url }}" class="item">{{ cb.title }}</a>
            {% endfor %}

        </div>


        {% if request.user == user %}
        <p><a href="{% url 'create_clipboard' %}" class="ui green button"><i class="plus icon"></i> Create clipboard</a></p>
        {% endif %}

    </div>
    </div>


{% endblock %}

